.input_wrapper{
    padding: 30px 35px 0px 35px;
}
.input_wrapper__input{
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
}
.input_wrapper__btn{
    display: inline-block;
    width: auto;
    background: #6248ff;
    color: #ffffff;
    box-shadow: 0 4px 20px #34278599;
    padding: 12px 30px;
    font-size: 12px;
    border: none;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
}

.input_wrapper__btn:hover {
    background-color:#5139d8;
    padding: 12px 35px;
}


@media only screen and (max-width:480px){
    .input_wrapper{
        padding: 30px 20px 0px 20px;
    }
    .input_wrapper__btn{
        display: block;
    }
}