@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.form_container{
  display: flex;
  text-align: center;
  width: 300px;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.form_container a{
  padding-top: 10px;
  color: #2d2d2d;
  transition: .3s;
}
.form_container a:hover{
  color:#6248ff;
}

.error{
  color: #ff5000;
  font-weight: bold;
}